/03-lesson.py
/04-lesson.py
/06-lession.py
/07-lession.py
/09-operatory-matematyczne.py
/10-oper_mat-zmien_przec.py
/11-dictionery_file.py
/13-instr-warunk.py
/13-krotka.py
/14-sqlite3.py
/18-petla_break.py
/2-randomm.py
/24-error.py
/3-haslo.py
/32-lekcja.py
/4-miesiace.py
/5-dictionery.py
/50-sqlite.py
/7-enumera.py
/Bazy_danych.py
/ferti.d.b
/Python
/random.txt
/recomendations.txt
/SConstruct.txt
/test_connection_with_spreadsheets
/todu.db
/zadania.txt